* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header {
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 20px;
}

.header--img {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 20px;
  margin-right: auto;

}

.header--text {
  font-size: 12px;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--input {
  border: 1px solid #D5D4D8;
  box-sizing: border-box;
  border-radius: 5px;
  text-indent: 11px;
}

.form--button {
  grid-column: 1 / -1;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}
