* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins';
}

nav {
  background: white;
  height: 70px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  padding: 22px 30px;
}

.nav--logo {
  max-width: 100px;
}

section {
  padding: 36px;
}

.imageBox {
  display: flex;
  flex-direction: column;
}

.imageBox--photo {
  max-width: 400px;
  align-self: center;
}

.imageBox--header {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 16px;
}

.bold {
  font-weight: bold;
}

.gray {
  color: #918e9b;
}

.card {
  font-size: 12px;
  width: 175px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card--image {
  width: 175px;
  height: 235px;
  border-radius: 9px;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px;
}

.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--price {
  margin-top: auto;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border: 2px;
  font-weight: bold;
}